body {
  background-color: gray;
  height: 100%;
  width: 1200px;
}
div {
  text-align: center;
  margin-top: 150px;
  font-weight: bold;
}
h1 {
  color: rgb(8, 14, 169);
  font-size: 50px;
  margin-left: 100px;
}
button {
  background-color: orangered;
  color: white;
  height: 30px;
  width: 125px;
  margin-left: 100px;
  border-radius: 10px;
  border-style: hidden;
}
p {
  color: rgb(214, 251, 2);
  font-size: 25px;
  font-weight: bolder;
  text-align: left;
  margin-left: 550px;
}
#demo-1 {
  margin-left: 480px;
}
#p-1 {
  position: absolute;
  margin-top: -100px;
  text-align: right;
  margin-right:700px;
}
#p-2 {
  position: absolute;
  margin-top: -100px;
  margin-left: 665px;
}
#p-3 {
  position: absolute;
  margin-top: 45px;
  margin-left: 610PX;
}
#p-4 {
  position: absolute;
  margin-top: 190px;
  text-align: right;
}
#p-5 {
  position: absolute;
  margin-top: 190px;
  margin-left: 670px;
}
